{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Список изменений</h2>
  <ul>
    <li>Количество записей на странице увеличено до 8</li>
    <li>Добавлена иконка для страниц</li>
    <li>В админке можно узнать индекс записи</li>
   
  </ul>
  </div>
</body>
</html>
